body {
    background: url(https://images.unsplash.com/photo-1584890132374-d69d5d01483e?q=80&w=2934&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-repeat: no-repeat;
    
img {
   width: 400px;
   height: 400px;
   object-fit: cover;
   margin: 5px;
   }

a:hover {
    background-color: rgb(7, 90, 173);
}
table, th, td {
    border: 1px solid;
}
th, td {
    text-align: center;
}
table {
  background-color: rgb(146, 233, 255);
  border-collapse: collapse;
  width: 50%;
}
tr:hover {
    background-color: rgb(7, 90, 173);
}